---
import { featureFlags, siteConfig } from 'site-config';
import Mindstorm from './elements/Mindstorm.astro';
---

<footer class="my-20">
  <p class="text-center text-sm text-slate-600">
    {featureFlags.enableImprint &&
      <a class="hover:underline hover:text-primary-light" href="/imprint">Imprint</a>
    }
    {featureFlags.enableDataprotection &&
      <a class="hover:underline hover:text-primary-light" href="/dataprotection">Data Protection</a>
    }
    <span class="block sm:inline"> Copyright © {new Date().getFullYear()} {siteConfig.footerText}</span>
  </p>
  {featureFlags.showAttribution && <Mindstorm />}
</footer>
